.sass-cache
node_modules/*
!node_modules/@angular/*
!node_modules/angular2-notifications/*
!node_modules/core-js/*
!node_modules/reflect-metadata/*
!node_modules/rxjs/*
!node_modules/systemjs/*
!node_modules/zone.js/*
dev
assets
**/*npm-debug.log.*
.DS_Store
**/.DS_Store
*.js.map
*.ts
_test-output
_temp
