<header-component
  [player_exp]="player_exp"
  [player_mrx]="player_mrx"
></header-component>
<simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>
<section class="tasks">
  <div class="center-section">
    <h1 class="tasks__title h1">My challenges</h1>
    <p class="tasks__description h1-desc center">Take challenges, earn mrx, exp and fancy badges!</p>

    <!-- <h2 class="tasks__active h2 floated-line">Moje aktywne zadania</h2>

    <div class="task">
      <ul>
        <li class="task__description">
          <div>
            <h3>Inglisz Frajdej</h3>
            <p class="h1-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <ul class="lifes">
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart-off.png" alt="heart-off" /></li>
            </ul>
          </div>

        </li>
        <li class="task__start">
          <div>
            <h4 class="h1-desc">Rozpoczęto</h4>
            <strong>8:00</strong>
            <em>12.10.2016</em>
          </div>
        </li>
        <li class="task__prize">
          <div>
            <h4 class="h1-desc">Nagroda</h4>
            <div class="points-counter">
              <img src="src/images//mrx.png" alt="mrx" /><span> x 2</span>
            </div>
          </div>
        </li>
        <li class="task__action-button">
          <div>
            <a href="#" class="btn">oberwałem!</a>
          </div>
        </li>

      </ul>

      <div class="level-progressbar">
        <div class="level-progressbar__done"></div>
        <div class="level-progressbar__notdone"></div>
      </div>
    </div>

    <div class="task">
      <ul>
        <li class="task__description">
          <div>
            <h3>Inglisz Frajdej</h3>
            <p class="h1-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <ul class="lifes">
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart-off.png" alt="heart-off" /></li>
            </ul>
          </div>

        </li>
        <li class="task__start">
          <div>
            <h4 class="h1-desc">Rozpoczęto</h4>
            <strong>8:00</strong>
            <em>12.10.2016</em>
          </div>
        </li>
        <li class="task__prize">
          <div>
            <h4 class="h1-desc">Nagroda</h4>
            <div class="points-counter">
              <img src="src/images//mrx.png" alt="mrx" /><span> x 2</span>
            </div>
          </div>
        </li>
        <li class="task__action-button">
          <div>
            <a href="#" class="btn">oberwałem!</a>
          </div>
        </li>

      </ul>

      <div class="level-progressbar">
        <div class="level-progressbar__done"></div>
        <div class="level-progressbar__notdone"></div>
      </div>
    </div> -->
    <div *ngIf="tasksData" >
      <div class="tasksSearch__border">
        <input class="tasksSearch__field" placeholder="filter out challenges..." type="text" #listFilter (keyup)="0" /><span class="tasksSearch__x" (click)="listFilter.value = ''">X</span>
      </div>
      <h2 class="tasks__new h2 floated-line"><span>Challenges available for you</span></h2>
      <div class="task">
        <ul *ngFor="let task of (tasksData | taskFilter:listFilter.value)">
          <li class="task__badge">
            <div>
              <div class="points-counter">
                <img src="{{ task.image }}" alt="{{ task.name }}" />
              </div>
            </div>
          </li>
          <li class="task__description">
            <div>
              <h3>{{ task.name }}</h3>
              <p class="h1-desc">{{ task.description }}</p>
            </div>

          </li>
          <li class="task__prize">
            <div>
              <h4 class="h1-desc">exp</h4>
              <div class="points-counter">
                <img src="src/images//exp.png" alt="exp" /><span> x {{ task.exp_reward }}</span>
              </div>
            </div>
          </li>
          <li class="task__prize">
            <div>
              <h4 class="h1-desc">mrx</h4>
              <div class="points-counter">
                <img src="src/images//mrx.png" alt="mrx" /><span> x {{ task.mrx_reward }}</span>
              </div>
            </div>
          </li>
          <li class="task__action-button">
            <div>
              <a href="#" class="btn" (click)="playChallenge($event, task.id)">I did it!</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div *ngIf="tasksData == null" class="loader">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>
  </div>
</section>
<footer-component></footer-component>
