<section class="products">
  <div class="center-section">
    <h1 class="h1">Products in PEVEX</h1>
    <p class="h1-desc">Kierowniku złoty! Co dla Pana? A może.. coś spod lady?</p>

    <ul class="products-list">
      <li>
        <div class="products-list__item">
          <img src="src/images/icon3.png" alt="icon3" />
          <div>
            <h3>Rosyjskie wypieki</h3>
            <h4>1 szt. kanapki</h4>
          </div>
        </div>
        <div class="products-list__controls">
          <div class="points-counter">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 1000</span>
          </div>
          <div>
            <a href="#" class="btn--current">kup towar</a>
          </div>
        </div>
      </li>

      <li>
        <div class="products-list__item">
          <img src="src/images/icon3.png" alt="icon3" />
          <div>
            <h3>Rosyjskie wypieki</h3>
            <h4>1 szt. kanapki</h4>
          </div>
        </div>
        <div class="products-list__controls">
          <div class="points-counter">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 1000</span>
          </div>
          <div>
            <a href="#" class="btn--current">kup towar</a>
          </div>
        </div>
      </li>

      <li>
        <div class="products-list__item">
          <img src="src/images/icon3.png" alt="icon3" />
          <div>
            <h3>Rosyjskie wypieki</h3>
            <h4>1 szt. kanapki</h4>
          </div>
        </div>
        <div class="products-list__controls">
          <div class="points-counter">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 1000</span>
          </div>
          <div>
            <a href="#" class="btn--current">kup towar</a>
          </div>
        </div>
      </li>

      <li>
        <div class="products-list__item">
          <img src="src/images/icon3.png" alt="icon3" />
          <div>
            <h3>Rosyjskie wypieki</h3>
            <h4>1 szt. kanapki</h4>
          </div>
        </div>
        <div class="products-list__controls">
          <div class="points-counter">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 1000</span>
          </div>
          <div>
            <a href="#" class="btn--current">kup towar</a>
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>
